*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.box{
    width: 200px;
    margin: 0 auto;
    background: #F5F9FC;
}
ul{
    border: solid 1px #B7D2F0;
}
ul>li{
    list-style: none;
    line-height: 20px;
    border-top: solid 1px #B7D2F0;
    margin-left: 5px;
    margin-right: 5px;
}
.li1{
    background: #F5F9FC url("../img/title_icon.gif") no-repeat 5px center;
    padding-left: 10px;
    border: none;
}
.li1~li{
    background: url("../img/submenu.gif")no-repeat right center;
    background-size: cover;
}
.li_span{
    color: #253073;
    font-family: 楷体;
    margin-left: 17px;
    font-weight: bold;
}
.li_span1{
    margin-left: 10px;
}
.li_span1>a{
    text-decoration: none;
    font-family: 楷体;
    color: black;
}
a:hover{
    color: red;
}