* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
.box{
    width: 960px;
    margin: 200px auto;
    position: relative;
}
.box img{
    position: absolute;
    border: solid 1px #ddd;
    padding: 10px;
    background: #fff;
    z-index: 1;
}
.box img:nth-child(1){
    top: 0;
    left: 300px;
    transform: rotate(-15deg) scale(0.8);
}
.box img:nth-child(2){
    top: -50px;
    left: 800px;
    transform: rotate(-20deg) scale(0.8);
}
.box img:nth-child(3){
    right: -600px;
    top: -300px;
    transform: rotate(15deg) scale(0.8);
}
.box img:nth-child(4){
    left: 400px;
    bottom: -150px;
    transform: rotate(-20deg) scale(0.6);
}
.box img:nth-child(5){
    top: -350px;
    left: -300px;
    transform: rotate(-30deg) scale(0.6);
}
.box img:nth-child(6){
    left: -450px;
    top: -50px;
    transform: rotate(25deg) scale(0.4);
}
.box img:nth-child(7){
    right: -800px;
    transform: rotate(15deg) scale(0.7);
}
.box img:nth-child(8){
    top: -150px;
    left: 250px;
    transform: rotate(20deg) scale(1.3);
}
.box img:nth-child(9){
    left: 150px;
    top: -120px;
    transform: rotate(10deg) scale(0.3);
}
.box img:nth-child(10){
    top: 10px;
    left: 50px;
    transform: rotate(-10deg) scale(0.55);
}
.box img:hover{
    z-index: 2;
    box-shadow: 5px 5px 5px #ddd;
    transform: rotate(0) scale(1.5);
}