body{
    font-size: 14px;
}
.font_h2{
    font-size: 18px;
    color: red;
}
.font_h3{
    font-size: 18px;
    color: green;
}
.font_bule{
    color: blue;
}
.font_ul{
    font-size: 14px;
    color: #640000;
}