body {
    background: #F0EFED;
}

.userForm {
    padding-left: .13rem;
    border-bottom: solid .01rem #CFCFCE;
    background: #fff;
}

.userForm > div {
    position: relative;
}

.userForm input {
    width: 100%;
    padding: .16rem 0;
    font-size: .15rem;
}

.userForm > div:not(:last-child) {
    border-bottom: solid .01rem #E5E5E5;
}

.userForm .code {
    position: absolute;
    top: 50%;
    right: .18rem;
    transform: translateY(-50%);
    width: .83rem;
    height: .35rem;
    line-height: .35rem;
    border: solid .01rem #BABABA;
    border-radius: .03rem;
    text-align: center;
    font-size: .13rem;
}

.sub-btn {
    display: block;
    margin: .14rem .1rem 0;
    width: 3rem;
    height: .47rem;
    line-height: .47rem;
    background: #FC9E2F;
    color: #fff;
    border: 0;
    text-align: center;
    font-size: .18rem;
}