.header-box {
    position: relative;
    width: 3.2rem;
    height: .415rem;
    background: #FF8A00;
    padding: 0 .4rem;
}

.header-l {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .4rem;
}

.header-l .logo1 {
    width: .99rem;
    height: .285rem;
}

.header-l .logo2 {
    width: .49rem;
    height: .18rem;
    margin-right: .175rem;
}

.header-l span {
    color: #fff;
    font-size: .14rem;
    padding-right: .12rem;
    background: url("../img/DetailsSmall.png") no-repeat right;
    background-size: .08rem .04rem;
}

.header-r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .4rem;
}

.header-r img {
    width: .25rem;
    height: .3rem;
    margin-left: .12rem;
}

.position {
    display: flex;
    height: .35rem;
    line-height: .35rem;
    border-bottom: solid .01rem #C5C5C5;
    font-size: .14rem;
    color: #575757;
    background: #fff;
}

.position a {
    font-size: .14rem;
    color: #575757;
}

.position div,
.position span {
    padding-left: .125rem;
    padding-right: .15rem;
    height: .34rem;
    text-align: center;
}

.position span:not(:last-child) {
    background: url("../img/bg-arr.png") no-repeat;
    background-size: contain;
}

.position div:not(:last-child) {
    background: url("../img/bg-arr2.png") no-repeat right;
}

.footer-box {
    width: 3.2rem;
    background: #2F3130;
    padding: 0 .115rem;
    color: #939494;
}

.footer-position {
    padding: .12rem 0 .11rem 0;
    font-size: .1rem;
    border-bottom: solid .01rem #3E403F;
}

.footer-position span {
    vertical-align: middle;
}

.footer-position img {
    margin: 0 .03rem;
}

.footer-btm {
    position: relative;
    margin-top: .12rem;
}

.client-side {
    margin-left: .58rem;
    margin-bottom: .14rem;
}

.client-side:after {
    content: '.';
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}

.client-side img {
    float: left;
    width: .185rem;
    height: .215rem;
}

.client-side-l img {
    margin-right: .095rem;
}

.client-side-r img {
    margin-right: .075rem;
    margin-left: .375rem;
}

.font {
    float: left;
    color: #727373;
    font-size: .09rem;
}

.footer-btm p {
    text-align: center;
    margin-bottom: .04rem;
    font-size: .09rem;
}

.footer-btm p:last-child {
    padding-bottom: .14rem;
    margin: 0;
    font-size: .07rem;

}