.seach-box {
    width: 3.2rem;
    height: .625rem;
    background: #F5F5F5;
    padding: .105rem .15rem;
}

.seach-case {
    position: relative;
    width: 2.9rem;
    height: .42rem;
    border: solid .01rem #ccc;
    border-radius: .04rem;
    background: #fff;
    padding: .055rem 0;
}

.seach-input {
    border-right: solid .01rem #E5E5E5;
    width: 2.35rem;
    height: .3rem;
    padding-left: .1rem;
    font-size: .14rem;
}

.seach-case img {
    position: absolute;
    right: .18rem;
    top: .1rem;
    width: .2rem;
    height: .2rem;
}

.area-box {
    position: fixed;
    top: -.01rem;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.area-list {
    display: flex;
    justify-content: start;
    width: 100%;
    height: .4rem;
    border-bottom: solid .005rem #ccc;
    border-top: solid .005rem #ccc;
    padding: .11rem 0;
    background: #fff;
    box-sizing: border-box;
}

.area-list li {
    position: relative;
    flex: 1;
    color: #252525;
    font-size: .14rem;
    text-align: center;
}

.area-list li span {
    position: relative;
    padding-right: .18rem;
}

.area-list li span:after {
    position: absolute;
    right: 0;
    top: .06rem;
    content: "";
    width: 0;
    height: 0;
    border: .06rem;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

.area-list li:not(:last-child) {
    border-right: solid .01rem #E5E5E5;
}

.area-list .active {
    color: #FF9B24;
}

.area-list .active span:after {
    top: 0;
    border-color: transparent transparent #FF9B24 transparent;
}

.child-area-box {
    display: flex;
    color: #666;
    box-sizing: border-box;
    font-size: .14rem;
    display: none;
}

.child-left {
    flex: 1;
    height: 2.84rem;
    background: #f0f0f0;
    border-right: solid .005rem #ccc;
}

.child-left > div {
    padding-left: .18rem;
    line-height: .4rem;
    height: .4rem;
}

.child-left .active {
    color: #FF8A00;
    background: #fff;
    margin-right: -.01rem;
    border-top: solid .005rem #ccc;
    border-bottom: solid .005rem #ccc;
}

.child-left .active:first-child {
    border-top: none;
}

.child-middle {
    flex: 1;
    border-right: solid .005rem #eee;
    height: 2.84rem;
    overflow: auto;
    background: #fff;
}

.child-middle li {
    line-height: .4rem;
    font-size: .14rem;
    color: #666;
    margin-left: .19rem;
}

.child-middle .active {
    color: #FF8A00;
}

.child-middle li:not(:last-child) {
    border-bottom: solid .005rem #e5e5e5;
}

.child-middle li:first-child {
    font-size: .12rem;
    border: none;
}

.child-right {
    flex: 2;
    background: #fff;
    height: 2.84rem;
    overflow: auto;
}

.child-right li {
    line-height: .4rem;
    margin-left: .19rem;
}

.child-right .active {
    color: #FF8A00;
}

.child-right li:not(:last-child) {
    border-bottom: solid .005rem #e5e5e5;
}

.child-right li:first-child {
    border: none;
}

.child-price-list {
    padding-left: .2rem;
    color: #666;
    font-size: .12rem;
    background: #fff;
    display: none;
}

.child-price-list li {
    position: relative;
    padding: .15rem 0;
}

.child-price-list .active {
    color: #FF8A00;
}

.child-price-list li:not(:last-child) {
    border-bottom: solid .005rem #e5e5e5;
}

.custom-price {
    position: absolute;
    left: .81rem;
    top: 50%;
    transform: translateY(-50%);
}

.custom-price i {
    margin: 0 .04rem;
    color: #C5C5C5;
}

.price-input {
    width: .35rem;
    padding: .04rem 0;
    background: #F5F5F5;
    border-radius: .02rem;
    font-size: .11rem;
    text-align: center;
}

.confirm-input {
    margin-left: .2rem;
    width: .33rem;
    height: .18rem;
    text-align: center;
    color: #fff;
    font-size: .1rem;
    background: #FF8A00;
    border-radius: .02rem;
}

.child-houseType-box {
    background: #fff;
    display: none;
}

.child-houseType-list {
    padding-left: .2rem;
}

.child-houseType-list li {
    position: relative;
    padding: .19rem 0;
    font-size: .12rem;
    color: #666;
}

.child-houseType-list .active {
    color: #FF8A00;
}

.child-houseType-list input {
    position: absolute;
    top: 50%;
    right: .2rem;
    transform: translateY(-50%);
    width: .15rem;
    height: .15rem;
}

.child-houseType-list .def-check {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: url("../img/def-check.png") no-repeat;
    background-size: contain;
}

.child-houseType-list .checked-check {
    background: url("../img/checked-check.png") no-repeat;
    background-size: contain;
}

.sure-btn {
    background: #FF8A00;
    color: #fff;
    text-align: center;
    line-height: .4rem;
    border: 0;
    width: 100%;
    font-size: .15rem;
}

.child-houseType-list li:not(:last-child) {
    border-bottom: solid .005rem #e5e5e5;
}

.child-more-box {
    background: #fff;
    display: none;
    overflow: auto;
    height: 4rem;
}

.child-more-list li {
    padding: .2rem 0;
    padding-left: .08rem;
    border-bottom: solid .005rem #E5E5E5;
}

.child-more-list li p {
    font-size: .14rem;
    padding-left: .12rem;
}

.c-m-area {
    display: flex;
    flex-wrap: wrap;
}

.c-m-area span {
    width: .61rem;
    line-height: .26rem;
    text-align: center;
    border: solid .005rem #CECECE;
    box-sizing: border-box;
    border-radius: .02rem;
    color: #999;
    font-size: .11rem;
    margin-top: .12rem;
    margin-left: .12rem;
}

.c-m-area .solid {
    border: solid .005rem #FF8A00;
    color: #FF8A00;
}

.empty-btn {
    width: 100%;
    line-height: .5rem;
    font-size: .15rem;
    color: #999;
    text-align: center;
    background: #fff;
    border: 0;
    outline: none;
}

.confirm-btn {
    width: 100%;
    line-height: .4rem;
    font-size: .15rem;
    color: #fff;
    text-align: center;
    background: #FF8A00;
    border: 0;
    outline: none;
}

.home-source {
    padding: 0 .2rem;
    font-size: .12rem;
}

.home-source li {
    padding: .2rem 0;
    display: flex;
}

.home-source li:not(:last-child) {
    border-bottom: solid .01rem #FF9C28;
}

.home-source img {
    width: .81rem;
    height: .81rem;
    margin-right: .115rem;
}

.home-source-r h4 {
    font-size: .15rem;
    margin-bottom: .05rem;
}

.home-source-r p {
    position: relative;
    color: #aaa;
    margin-bottom: .05rem;
}

.home-source-r p span {
    color: #FF8A00;
}

.home-source-price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .13rem;
}

.home-source-price label {
    font-size: .15rem;
}

.home-source-r .orientation {
    color: #222;
}