* {
    margin: 0;
    padding: 0;
}

.threeBar_left_ul {
    background: #B01D1D;
    width: 210px;
    line-height: 42px;
    margin: 100px;
}

.threeBar_left_ul li {
    position: relative;
    list-style: none;
}

.h-li {
    background: #f60;
}

.threeBar_left_ul a {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
}

img {
    position: absolute;
    top: 0;
    left: 210px;
    display: none;
}