* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

header img {
    width: 7.5rem;
    height: 4.6rem;
}

body {
    background: #DF3A3A;
    font-size: 0.5rem;
}

#number {
    background: url("../image/2_02.jpg") no-repeat;
    background-size: contain;
    width: 7.49rem;
    height: 2.71rem;
    line-height: 2.95rem;
    color: #FFFFFF;
    margin-bottom: 0.88rem;
}

#number div {
    margin-left: 1.2rem;
}

#number div span {
    margin: 0 0.05rem;
}

#zhiwei {
    margin-bottom: 0.88rem;
}

#zhiwei img {
    width: 7.5rem;
    height: 0.83rem;
}

#yellow, #yellow2 {
    background: #FFDC4E;
    height: 7.8rem;
    width: 7.04rem;
    margin: 0 auto;
    position: relative;
    top: -0.195rem;
    border-radius: 0.08rem;
    font-size: 0.2rem;
}

#yellow p, #last p {
    text-align: center;
    padding-top: 0.38rem;
    color: #CB7401;
}

#zhiwei_list {
    width: 6.34rem;
    height: 4.88rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0.35rem;
}

#zhiwei_list a {
    display: inline-block;
    width: 1.96rem;
    height: 0.8rem;
    background: url("../image/4_08.jpg") no-repeat;
    background-size: contain;
    margin: 0.22rem 0;
    text-align: center;
    line-height: 0.8rem;
    color: #FFFFFF;
    font-size: 0.25rem;
}

#zhiwei_list div {
    margin: 0.20rem auto;
    font-size: 0.30rem;
    color: #DE3938;
}

#zhiwei_list div span, #last span {
    margin: 0 0.3rem;
    border-bottom: solid 0.015rem;
}

#zhiwei_list .img_right {
    width: 0.10rem;
    height: 0.2rem;
}

#hangye img {
    width: 7.5rem;
    height: 0.83rem;
}

#yellow2 {
    height: 11.3rem;
    box-shadow: 0 0.1rem 0 #DD7A43;
    border-radius: 0 0 0.30rem 0.30rem;
}

ul {
    width: 6.68rem;
    height: 11.02rem;
    background: #FFFFFF;
    margin: 0.18rem;
    margin-top: 0.028rem;
}

li {
    font-size: 0.4rem;
    font-weight: inherit;
    color: #DE3938;
    padding: 0.2rem 0;
    margin-left: 0.2rem;
    width: 6.14rem;
    border-bottom: 1px solid #F7F7F7;
    position: relative;
}

ul a {
    font-size: 0.3rem;
    font-weight: lighter;
    display: inline-block;
    background: #EFF4F7;
    padding: 0.05rem 0.3rem;
    margin-top: 0.2rem;
    color: #A59E9E;
    border-radius: 0.05rem;
}

.img_right2 {
    position: absolute;
    right: 0;
    top: 0.61rem;
    background: url("../image/9_14.jpg") no-repeat;
    background-size: contain;
    width: 0.30rem;
    height: 0.30rem;
}

ul p span {
    color: #DE3938;
}

#last {
    font-size: 0.32rem;
}

footer {
    font-size: 0.30rem;
    text-align: center;
    margin: 0.2rem 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
}